* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    text-align: center;
    padding: 1.5rem;
}

.header_content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    gap: 0.6rem;
}

.logo_icon {
    height: 2.2rem;
    width: 2rem;
}

.logo_text {
    font-size: 2rem;
    color: #5254f8;
}

.nav {
    display: none;
    gap: 1.5rem;
}

@media screen and (min-width:768px) {
    .nav {
        display: flex;
    }
}

.nav_link {
    font-size: 1.125rem;
    color: #718096;
    font-weight: 600;
    transition: color 0.1s;
}

.nav_link:hover {
    color: #5254f8;
}

.contact_button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: #5254f8;
    color: white;
    transition: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;

}

@media screen and (min-width:768px) {
    .contact_button {
        display: block;
    }
}

.contact_button:hover {
    background-color: #3336eb;
}

.hamburger_button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;

}

@media screen and (max-width:768px) {
    .hamburger_button {
        display: block;
    }
}

.hamburger_icon {
    height: 1.75rem;
    width: 1.75rem;
}

.main_section {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    gap: 2rem;
    margin: 50px;
    align-items: center;
}

.content_left {
    text-align: center;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}

@keyframes slidefromleft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section_label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #5254f8;
}

.section_title {
    font-size: 2.3rem;
    padding: 1rem;
}

.section_desc {
    color: rgb(105, 98, 98);
    font-size: 1.13rem;
}

.button_group {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.start_button,
.tour_button {
    border: none;
    border-radius: 0.375rem;
    background-color: #5254f8;
    color: white;
    transition: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.start_button:hover {
    background-color: #3336eb;
}

.tour_button:hover {
    background-color: rgb(85, 84, 84);
}

.tour_button {
    background-color: rgb(124, 122, 122);
}

.content_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_container {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 65vh;
    width: 315px;
}

.section_image {
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main_section {
        flex-direction: row;
        justify-content: space-around;
        gap: 5rem;
    }

    .content_left {
        max-width: 50%;
        text-align: left;
    }

    .section_title {
        padding-left: 0;
        font-size: 2.25rem;
    }

    .button_group {
        justify-content: start;
        padding-left: 0;
    }

    .image_container {
        height: 72vh;
    }
}

.company_container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slidefromleft 1s ease forwards;
}

.company_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color:	#D9D9D9;
    border: none;
    border-radius: 10px;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}

.company_logo {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    
    
}

.svg_img{
    height: 1.5rem;
}

.logo_txt{
    font-size: 1rem;
    color:	#444444;
}

@media screen and (min-width:640px) {
    .company_grid{
        grid-template-columns: repeat(4, 1fr);
    }
}